@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100..700&family=Roboto+Slab:wght@100..900&display=swap");
:root {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: "20px";
  font-style: normal;
  /* background-color: "https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExaHhjMmo3MmJ2NW9yZmIxaWFtYnY3aTBiYXp3bmNvMGtmem1jc3pleiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/6b6qlOeimHcP0wFwZD/giphy.webp"; */
}

